## List

In [1]:
#Add an item to the end of the list. Equivalent to a[len(a):] = [x].

a = []
a.append(15)
a.append('string')
a.append(())
a.append([1, 2, 3])
print(a)

[15, 'string', (), [1, 2, 3]]

In [2]:
a = [1, 2, 3, 4, 5]
a[len(a):]

[]

In [3]:
#Extend the list by appending all the items from the iterable. Equivalent to a[len(a):] = iterable.
b = [3,4,5]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 3, 4, 5]

In [4]:
#Insert an item at a given position. The first argument is the index of the element before which to insert, 
#so a.insert(0, x) inserts at the front of the list, and a.insert(len(a), x) is equivalent to a.append(x).
a.insert(5, 'target')
print(a)
a.insert(5, '밀려나라')
print(a)

[1, 2, 3, 4, 5, 'target', 3, 4, 5]
[1, 2, 3, 4, 5, '밀려나라', 'target', 3, 4, 5]

In [5]:
#Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.
a.remove(15)
print(a)
#리스트 안에 이중으로 된 리스트 내부 3은 어떻게 제거할까?

ValueError: list.remove(x): x not in list

In [6]:
#Remove the item at the given position in the list,
a.pop()

5

In [7]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
print(fruits.count('apple'))
print(fruits.count('tangerine'))
print(fruits.index('banana'))
print(fruits.index('banana', 4)) #Find next banana starting a position 4
fruits.reverse()
print(fruits)

fruits.sort()
print(fruits)

print(fruits.pop())

2
0
3
6
['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']
['apple', 'apple', 'banana', 'banana', 'kiwi', 'orange', 'pear']
pear

In [8]:
fruits

['apple', 'apple', 'banana', 'banana', 'kiwi', 'orange']

## Using Lists as Stacks , Queues

In [9]:
stack = [3, 4, 5]
stack.append(6)
print(stack)
stack.pop()
print(stack)

[3, 4, 5, 6]
[3, 4, 5]

In [10]:
from collections import deque


queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")
queue.append("Graham")
print(queue)
queue.popleft()

deque(['Eric', 'John', 'Michael', 'Terry', 'Graham'])

'Eric'

## List Comprehensions

In [11]:
#List comprehensions

squares = []
for x in range(10):
    squares.append(x**2)

squares = list(map(lambda x: x**2, range(10)))

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [12]:
import time

start_time = time.time()
squares = []
for x in range(100000000):
    squares.append(x**2)
print("time: ", time.time() - start_time)

time:  39.521963357925415

In [13]:
start_time = time.time()
squares = []
squares = [i**2 for i in range(100000000)]
print("time: ", time.time() - start_time)

time:  34.61815357208252

In [14]:
squares = [x**3 for x in range(10)]
squares

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [15]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x, y))

print(combs)
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

## Nested List Comprehensions

In [16]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

In [17]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [39]:
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [41]:
>>> transposed = []
>>> for i in range(4):
...     # the following 3 lines implement the nested listcomp
...     transposed_row = []
...     for row in matrix:
...         transposed_row.append(row[i])
...     transposed.append(transposed_row)

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [19]:
import numpy as np
from pprint import pprint

np_matrix = np.array(matrix).T
pprint(np_matrix)

array([[ 1,  5,  9],
       [ 2,  6, 10],
       [ 3,  7, 11],
       [ 4,  8, 12]])

## del

In [20]:
list1 = [1,2,3,4]
del(list1[0])
print(list1)

[2, 3, 4]

In [21]:
tuple1 = (1, 2, 3,)
del(tuple1[0])

TypeError: 'tuple' object doesn't support item deletion

## Tuples and Sequences

In [22]:
t = 12345, 54321, 'hello!'
print(t[0])
print(type(t))

u = t, (1, 2, 3, 4, 5)

u1 = (t,)
print(type(u1))
print(u1)
print(u)

12345
<class 'tuple'>
<class 'tuple'>
((12345, 54321, 'hello!'),)
((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [23]:
v = ([1, 2, 3], [3, 2, 1]) # but they can contain mutable objects:
v

v[0][0] = 4
print(v[0][1])
print(v[1][2])
print(v)

2
1
([4, 2, 3], [3, 2, 1])

## Sets

In [24]:
basket = {'apple', 'orange', 'apple', 'pear','orange', 'banana'}
print(basket)

{'banana', 'orange', 'pear', 'apple'}

## Dictionaries

In [25]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [26]:
del tel['sape']
tel

{'jack': 4098, 'guido': 4127}

In [27]:
list(tel)

['jack', 'guido']

In [28]:
print(sorted(tel))
print(tel)

a = [5,2,3,1]
print(a.sort())
print(a)

['guido', 'jack']
{'jack': 4098, 'guido': 4127}
None
[1, 2, 3, 5]

In [29]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [30]:
{x: x**2 for x in (2, 4 ,6)}

{2: 4, 4: 16, 6: 36}

## Looping Tech

In [31]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)
    
# print(knights[0])

gallahad the pure
robin the brave

In [32]:
for i, v in enumerate(['tic','tac','toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [33]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail','blue']


for q, a in zip(questions, answers):
    print('what is your {0}? It is {1}'.format(q, a))

what is your name? It is lancelot
what is your quest? It is the holy grail
what is your favorite color? It is blue

In [34]:
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [35]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

In [37]:
import math


raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []

for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)

filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]